header {
    height: 440px;
    background-size: cover;
    background-position: center;
    background-image: url('../images/banner.png');
}

body {
    background-color: #f8bed2;
    font-family: 'PT Sans', sans-serif;
    .navbar {
        background-color: #444;
        padding: 1rem;
        position: relative;
        width: 100%;
        z-index: 100;
      
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
        }
      
        li {
          margin-right: 20px;
      
          &:last-child {
            margin-right: 0;
          }
        }
      
        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
          font-size: 1.2rem;
          transition: color 0.3s;
      
          &:hover {
            color: #f8bed2;
          }
        }
      }
       
    .titulo1 {
        @include estilo-titulo(10em, 5px 5px 15px #B03052, 'Montserrat');
    }
    .titulo2 {
        @include estilo-titulo(40px, 2px 2px 15px #B03052, 'Bebas Neue');
        font-weight: bold;
    }
    video{
        width: 20%;  
    }
  
    .section1, .section3{
        background-color: #444  ;
        padding: 1rem;
    }
    .section2, .section4{
        padding: 1rem
    }
    .card-title{
        font-family: 'Bebas Neue', sans-serif;
    }
    .card-img-top:hover {
        transform: scale(1.05);
        transition: transform 0.3s;
    }
    .card-section{
        margin: 0 auto;
        background-color: #FDFAF6;
        padding: 40px;
        width: 40em;
        height: 45em;
        img{
          margin: 0 auto;
          width: 100%;
          object-fit: cover;
        }
    }
    .testimonios-section {
      display: flex;
      background-color: #FDFAF6; 
      padding: 60px; 
      border-radius: 10px;        
    }
    #testimonialCarousel button{
      background-color: #4A102A;
      border-radius: 10px;     
  }  
}
