/* General */
body {
    background-color: #f8bed2;
    font-family: 'PT Sans', sans-serif;
}

/* Navbar */
.navbar {
    background-color: #444;
    padding: 1rem;
    position: relative;
    width: 100%;
    z-index: 100;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #f8bed2;
}

/* Títulos */
.titulo1 {
    font-size: 150px;
    text-shadow: 5px 5px 15px #4A102A;
    
}

.titulo2{
    text-shadow: 2px 2px 15px #85193C;
    font-weight: bold;
}

.titulo2 {
    font-size: 50px;
}

h3{
    font-size: 50px;
    font-weight: bold;
    padding: 50px;
}

section{
    padding: 5px;
}

/* Párrafos */
p {
    max-width: 800px;
    margin: 0 auto;
}

/* Tarjetas */
.card-title {
    font-family: 'Bebas Neue', sans-serif;
}

.card-img-top:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* Footer */
footer {
    background-color: #444;
    color: white;
    padding: 40px 0;
    text-align: center;
}

footer h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 0px;
}

footer p {
    font-size: 1rem;
    margin-bottom: 20px;
}

footer .redes img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
}

footer .redes img:hover {
    transform: scale(1.2);
}

/* Formularios */
form {
    max-width: 600px;
    margin: 0 auto;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: #f8bed2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #d48a9f;
}
